body {
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: .5em 0;
}
nav a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}
.stats {
  list-style: none;
}

.card img {
  width: 100%;
}
.contain {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
}
@media screen and (max-width: 768px){

}
footer{ display: flex;
  justify-content: space-around;
  background-color: #333;
  text-decoration: none;
}
